@charset "utf-8";

/////////////////////
// 変数
/////////////////////

body{
    height: 10000px;
}

//フォント
// 游ゴシック 
$yugo:YakuHanJP, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
$en:YakuHanJP,EB Garamond,serif;

// 色
// ネイビー
$nv:#0e192d;
// 赤
$rd:#99001C;



/////////////////////
// 共通パーツ
///////////////////// 
// ラッパー
.wrapper{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}



/////////////////////
// ヘッダー
/////////////////////
.header{
    background: white;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 10;

    // ヘッダー配置
    &__items{
        display: flex;
        height: 70px;
        min-height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    &__item{
        height: 100%;
    }

    // ロゴ
    &__logo{
        display: flex;
        align-items: center;
        width: 110px;
        margin: 0 35px;
        img{
            display: block;
            width: 100%;
        }
    }

    // メニュー配置
    &__menus{
        display: flex;
        height: 100%;
    }
    &__menu{
        // メインメニュー
        &_main{
            display: flex;
            align-items: center;
        }

        // フォーム
        &_form{
            background: $rd;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 25px;
            color: white;
            font-size: 13px;
            font-family: $yugo;
            font-size: 13px;
            transition: 0.2s;
            width: 150px;
            justify-content: center;

            &:hover{
                color: rgba(255,255,255,0.5);
            }
        }
    }

    // メインメニュー
    &__link{
        display: block;
        padding: 15px;
        font-family: $yugo;
        font-weight: 400;
        font-size: 12px;
        color: #0e192d;
        position: relative;
        
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left:50%;
            width : 0%;
            height: 2px;
            background: $nv;
            transition: 0.2s;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left:50%;
            width : 0%;
            height: 2px;
            background: $nv;
            transition: 0.2s;
        }

        &:hover{
            &::before{
                left:0;
                width :50%;
            }
            &::after{
                width :50%;
            }
        }
    }

    // ハンバーガーメニュー
    &__btn{
        display: none;
        position: relative;
        width: 25px;
        height: 20px;
        margin-right: 20px;

        // ボタンを押したとき
        &_active{
            .header__hum{
                top: 50%;
                &_top{
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                }
                &_mid{
                    opacity: 0;
                }
                &_btm{
                    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
    &__hum{
        position: absolute;
        left: 50%;
        width: 25px;
        height: 2px;
        background: $nv;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.2s;

        &_top{
            top: 0;
        }
        &_mid{
            top: 50%;
        }
        &_btm{
            top:100%;
        }
    }
}

// スマホメニュー
.sp{
    padding: 15px 30px 100px 30px;

    &_loading{
        opacity: 0;
    }

    &__link{
        margin-bottom: 20px;
        display: block;
    }

    &__en{
        font-family: $en;
        font-weight: 500;
        font-size: 31px;
        color: $nv;
        margin-bottom: 5px;
    }

    &__ja{
        font-family: $yugo;
        font-weight: 700;
        font-size: 11px;
        color: $rd;
    }

    &__form{
        background: $rd;
        font-family: $yugo;
        font-weight: 500;
        font-size: 13px;
        color: white;
        margin: 0 auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }
}

// スマホ表示 
@media screen and (max-width:768px){
    .header{
        // ヘッダーの配置
        &__item{
            &_main{
                display: none;
            }
        }

        // ロゴ
        &__logo{
            margin: 0 15px;
        }

        // ハンバーガーメニュー
        &__btn{
            display: block;
        }
    }
}



////////////////////
// トップ
//////////////////// 
.top{
    background-image: url("../img/01_top.jpg");
    background-size: cover;
    height: 700px;

    &__wrapper{
        max-width: 1000px;
        height: 100%;
        position: relative;
    }

    &__titles{
        position: absolute;
        top : 50%;
        left: 0%;
        transform: translateY(-50%);
        padding: 15px 30px;
    }

    &__title{
        line-height: 1.5em;
        font-family: $en;
        font-weight: 700;
        color: $nv;
        color: white;
        font-size: 60px;
        text-shadow: 0 0 20px rgba(0,0,0,0.4);
    }

    &__subtitle{
        font-family: $en;
        color: $rd;
        margin-bottom: 20px;
        text-shadow: 0 0 5px rgba(255,255,255,1);
        font-size: 13px;
        font-weight: 600;
    }
}

// スマホ
@media screen and (max-width:768px){
    .top{
        height: 600px;

        &__titles{
            top: 40%;
        }

        &__title{
            font-size: 35px;
        }

        &__subtitle{
            font-size: 15px;
        }
    }
}








