body {
  padding-bottom: 500px;
}

.wrapper {
  max-width: 1230px;
  padding: 30px 15px;
  margin: 0 auto;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title__line {
  background: #000;
  width: 100px;
  height: 2px;
  margin-right: 10px;
}

.section-title__main {
  color: #0e192d;
  font-size: 44px;
  font-family: en-b;
  margin-right: 10px;
}

.section-title__sub {
  color: #99001C;
  font-size: 16px;
  font-family: ja-b;
}

.section-title__text {
  padding-left: 110px;
  margin-top: 20px;
  font-family: ja-l;
  color: #0e192d;
  font-size: 14px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .section-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-title__line {
    width: 30px;
    height: 1px;
    margin-right: 0;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  .section-title__main {
    font-size: 33px;
    margin-bottom: 10px;
  }
  .section-title__sub {
    font-size: 14px;
    margin-left: 30px;
    width: 100%;
  }
  .section-title__text {
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
  }
}

.btn {
  margin: 30px auto;
  display: block;
  width: 280px;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
  font-family: ja-b;
  color: #0e192d;
  font-size: 14px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn p {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 0;
  height: calc(100% + 1px);
  background: #0e192d;
  z-index: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 70px;
  height: 1px;
  background: #0e192d;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  width: calc(100% + 1px);
}

.btn:hover::after {
  background: white;
  width: 30px;
  right: 5px;
  -webkit-transform: translateX(0%) translateY(-50%);
          transform: translateX(0%) translateY(-50%);
}

.btn_left {
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 240px;
    padding: 15px 0;
  }
}

.section-background {
  background: linear-gradient(to left, white 0px, white 50px, #F3F7FE 50px, #F3F7FE 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-background_re {
  background: linear-gradient(to right, white 0px, white 50px, #F3F7FE 50px, #F3F7FE 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section-background, .section-background_re {
    background: #F3F7FE;
    padding-top: 0;
  }
}

.hp_pdb0 {
  padding-bottom: 0px;
}

.header {
  background: white;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
  z-index: 10;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  height: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  margin: 0 35px;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__menu_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu_form {
  background: #99001C;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  color: white;
  font-family: ja-l;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu_form:hover {
  color: rgba(255, 255, 255, 0.5);
}

.header__link {
  display: block;
  padding: 15px;
  font-family: ja-r;
  font-size: 14px;
  color: #0e192d;
  position: relative;
}

.header__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #0e192d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #0e192d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__link:hover::before {
  left: 0;
  width: 50%;
}

.header__link:hover::after {
  width: 50%;
}

.header__btn {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
  margin-right: 20px;
}

.header__btn_active .header__hum {
  top: 50%;
}

.header__btn_active .header__hum_top {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.header__btn_active .header__hum_mid {
  opacity: 0;
}

.header__btn_active .header__hum_btm {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.header__hum {
  position: absolute;
  left: 50%;
  width: 25px;
  height: 2px;
  background: #0e192d;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__hum_top {
  top: 0;
}

.header__hum_mid {
  top: 50%;
}

.header__hum_btm {
  top: 100%;
}

.sp {
  padding: 15px 30px 100px 30px;
}

.sp_loading {
  opacity: 0;
}

.sp__link {
  margin-bottom: 20px;
  display: block;
}

.sp__en {
  font-family: en-r;
  font-size: 31px;
  color: #0e192d;
  margin-bottom: 5px;
}

.sp__ja {
  font-family: ja-b;
  font-size: 14px;
  color: #99001C;
}

.sp__form {
  background: #99001C;
  font-family: ja-r;
  font-size: 14px;
  color: white;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .header__item_main {
    display: none;
  }
  .header__logo {
    margin: 0 15px;
  }
  .header__btn {
    display: block;
  }
}

.top {
  background-size: cover;
  height: 700px;
}

.top__wrapper {
  max-width: 1000px;
  height: 100%;
  position: relative;
}

.top__titles {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px 30px;
}

.top__title {
  line-height: 1.5em;
  font-family: en-b;
  color: #0e192d;
  color: white;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.top__subtitle {
  font-family: en-b;
  color: #99001C;
  margin-bottom: 20px;
  text-shadow: 0 0 5px white;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .top {
    height: 600px;
  }
  .top__titles {
    top: 40%;
  }
  .top__title {
    font-size: 35px;
  }
  .top__subtitle {
    font-size: 15px;
  }
}

.section1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1__content {
  width: 50%;
}

.section1__content_right {
  padding: 100px 0 80px 0;
}

.section1__content_left {
  padding: 120px 0 80px 0;
}

.section1__sub {
  font-family: en-b;
  color: #99001C;
  font-size: 14px;
  line-height: 17px;
}

.section1__title {
  font-family: ja-b;
  color: #0e192d;
  font-size: 40px;
  line-height: 52px;
}

.section1__text {
  font-family: ja-r;
  color: #0e192d;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .section1__wrapper {
    display: block;
  }
  .section1__content {
    width: 100%;
  }
  .section1__content_right {
    padding: 50px 0 15px 0;
  }
  .section1__content_left {
    padding: 0;
  }
  .section1__sub {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .section1__title {
    font-size: 24px;
    line-height: 31px;
  }
}

.section2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2__content {
  width: calc(25% - 30px);
  background: white;
  padding: 30px 0 15px 0;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.section2__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
  background: -webkit-gradient(linear, left top, right bottom, from(#abb8c3), color-stop(50%, #abb8c3), color-stop(50%, white), to(white));
  background: linear-gradient(to bottom right, #abb8c3 0%, #abb8c3 50%, white 50%, white 100%);
}

.section2__content_1 {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.section2__content_1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  height: 2px;
  background: #0e192d;
}

.section2__content_2 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.section2__content_2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  height: 2px;
  background: #0e192d;
}

.section2__content_3 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section2__content_3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  height: 2px;
  background: #0e192d;
}

.section2__content_4 {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.section2__title {
  font-family: ja-b;
  font-size: 16px;
  color: #0e192d;
  margin-bottom: 20px;
}

.section2__img {
  width: 100%;
  height: 20vh;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.section2__text {
  font-family: ja-l;
  font-size: 14px;
  line-height: 19px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .section2__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2__content {
    width: calc(50% - 20px);
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
  }
  .section2__content_1::before {
    height: 1px;
  }
  .section2__content_2::before {
    top: 106%;
    left: 0;
    height: 1px;
    width: 50px;
    -webkit-transform: translateX(-90%) rotate(-45deg);
            transform: translateX(-90%) rotate(-45deg);
  }
  .section2__content_3::before {
    height: 1px;
  }
  .section2__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .section2__img {
    height: 15vh;
    max-height: 200px;
    margin-bottom: 15px;
  }
  .section2__text {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}

.section3__content {
  margin-bottom: 50px;
}

.section3__content_re .section3__img {
  margin-right: 0;
  margin-left: auto;
}

.section3__content_re .section3__main {
  margin-right: auto;
  margin-left: 0;
}

.section3__img {
  width: calc(100% - 15px);
  max-width: 750px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.section3__main {
  margin: -300px 0 0 auto;
  background: white;
  min-height: 350px;
  width: calc(100% - 30px);
  max-width: 650px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.section3__sub {
  font-family: ja-b;
  color: #0e192d;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

.section3__title {
  font-family: ja-b;
  color: #0e192d;
  font-size: 56px;
  margin-bottom: 15px;
}

.section3__text {
  font-family: ja-l;
  color: #0e192d;
  font-size: 14px;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .section3__img {
    height: 200px;
  }
  .section3__main {
    margin-top: -100px;
    min-height: 0;
    padding: 15px;
  }
  .section3__sub {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .section3__title {
    margin-bottom: 10px;
    font-size: 34px;
  }
  .section3__text {
    line-height: 21px;
  }
}

.section4__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1030px;
}

.section4__item {
  width: calc(33% - 15px);
  background: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.section4__img {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.section4__main {
  padding: 15px;
}

.section4__title {
  color: #99001C;
  font-family: ja-b;
  margin-bottom: 10px;
  font-size: 14px;
}

.section4__text {
  color: #0e192d;
  font-family: ja-r;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 21px;
  min-height: 150px;
}

.section4__company {
  color: #abb8c3;
  font-family: ja-r;
  font-size: 14px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .section4__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section4__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .section4__img {
    width: 100%;
    height: 100px;
  }
  .section4__main {
    padding: 10px;
  }
  .section4__title {
    margin-bottom: 10px;
  }
  .section4__text {
    min-height: 0px;
  }
}
/*# sourceMappingURL=style.css.map */